.footer {
  background-color: #444444; /* Cambiado a gris oscuro */
  color: white;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.footer-container {
  display: flex;
  justify-content: space-between; /* Separa los elementos al máximo */
  align-items: center;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.footer-text {
  font-size: 0.875rem;
  color: #ccc; /* Cambiado a gris claro */
}

.footer-text a {
  color: var(--accent-color); /* Naranja cálido */
  text-decoration: none;
}

.footer-text a:hover {
  text-decoration: underline;
}